5_1_1_webScraping__structure.ipynb
5_1_2_python_to_sql.ipynb
5_1_3_intro_to_apis.ipynb
api_keys.py
Berlin-Hamburg-Munich-wiki-scrape.ipynb
test.ipynb
test2.ipynb
test3.ipynb
weather_fetch.py
/__pycache__
/.ipynb_checkpoints
